alembic
Babel
bcrypt
blinker
click
colorama
config
Flask
flask-babel
Flask-Bcrypt
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTF
greenlet
itsdangerous
Jinja2
Mako
MarkupSafe
pytz
SQLAlchemy
typing_extensions
Werkzeug
WTForms
gunicorn 