<footer id="footer" class="bg-dark text-light">
    <div class="container-fluid py-4" style="background-color: rgb(163, 15, 94);">
        <div class="row">
            <div class="col-md-4">
                <a href="https://www.tbceducation.ge/" target="_blank">
                    <img src="static\TBC.png" alt="TBC Education Logo" class="footer-logo">
                </a>
            </div>
            <div class="col-md-4">
                
                <img src="static/plane.png" alt="Plane Image" class="footer-image">
            </div>
            <div class="col-md-4">
                <h5 class="mb-4">Contact Us</h5>
                <ul class="list-unstyled">
                    <li><i class="fa fa-map-marker"></i> 5 Q.Tsamebuli, Georgia</li>
                    <li><i class="fa fa-phone"></i> +123 456 7890</li>
                    <li><i class="fa fa-envelope"></i> info@yourodyssey.com</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bg-secondary">
        <div class="container text-center">
            <p>&copy; 2024 Yours Odyssey. All rights reserved. | Designed by Mariam Khurtsilava</p>
        </div>
    </div>
</footer>





<style>
   
    #footer {
        background-color: #343a40;
        color: #ffffff;
        padding: 60px 0;
        text-align: center;
        position: absolute; 
        bottom: -1000px; 
        width: 100%;
        z-index: 1000;
    }

    
    body {
        margin-bottom: 1000px; 
        position: relative; 
    }

    .social-icons .list-inline-item {
        margin-right: 15px;
    }


    .footer-logo {
        max-width: 80%;
        margin-bottom: 20px;
    }
    .footer-image {
    max-width: 70%; 
    max-height: 50px; 
    margin-top: 10px; 
}
    .bg-secondary {
        background-color: #555;
        color: #fff;
        padding: 15px 0;
    }

    .bg-secondary p {
        margin-bottom: 0;
    }

    .container-fluid {
        max-width: 1200px;
        margin: 0 auto;
    }
</style>
